<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <div class="logo">
      <a class="logo-link" [routerLink]="['/admin']">
        <img id="logo-img" class="navbar-brand full-logo" src="../../../assets/images/linkDIn_light.png" />
        <img id="logo-img" class="navbar-brand small-logo" src="../../../assets/images/linkDIn_small.png" />
      </a>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <ul class="navbar-nav text-center">
          <li class="nav-item">
            <button class="btn no-background-button" (click)="checkAll()" type="button">
              Select All Users
            </button>
          </li>
          <li class="nav-item">
            <button class="btn no-background-button" (click)="exportSelected()" type="button">
              Export Selected Users
            </button>
          </li>
        </ul>
        <li class="divider"></li>
        <ul class="navbar-nav text-center">
          <li class="nav-item">
            <div class="disabled-button">
              {{ firstName }} {{ lastName }}
            </div>
          </li>
        </ul>
        <li class="nav-item text-center">
          <div class="nav-item dropdown">
            <button type="button" class="btn btn-secondary icon-button navbar-btn" data-toggle="dropdown" aria-haspopup="true"
              aria-expanded="false">
              <fa-icon [icon]="['fas', 'caret-down']"></fa-icon>
            </button>
            <div class="dropdown-menu dropdown-menu-right">
              <a role="button" class="dropdown-item btn" (click)="logoutUser()">Logout</a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div *ngIf="!top">
  <button class="btn top-button" (scroll)="onScroll()" (click)="scrollToTop()">
    <fa-icon [icon]="['fas', 'angle-double-up']"></fa-icon>
  </button>
</div>