<app-navbar></app-navbar>
<div class="chat-content">
  <div id="mySidenav" class="sidenav open">
    <!-- <a class="closebtn" (click)="closeNav()">&times;</a> -->
    <div *ngFor="let x of userIDsChats; let i = index">
      <li>
        <a [routerLink]="['/chat', chatIDs[i]]">
          <app-userbasicinfo userIDInfo="{{x}}"></app-userbasicinfo>
        </a>
      </li>
    </div>
  </div>

  <div id="main">
    <!-- <button class="btn open-contacts" (click)="openNav()">
      <fa-icon [icon]="['fas', 'angle-right']"></fa-icon>
    </button> -->
    <div *ngIf="showConversation">
      <app-chathistory [chatHistory]="chatHistory" chatID="{{chatID}}"></app-chathistory>
      <div class="d-flex justify-content-center">
        <div class="input-group send-message">
          <input class="form-control send-message-box" id="comment-box" type="text" aria-label="post-comment"
            [(ngModel)]="message" maxlength="280">
          <span class="input-group-btn">
            <button [disabled]="!message" class="btn btn-info btn-lg send-message-button " type="button" (click)="sendMessage()">
              Send
            </button>
          </span>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>