<div class="new-post-box">
  <label class="new-post-label">New Post</label>
  <div class="input-group text-box">
    <textarea class="form-control text-post" [(ngModel)]="postContent" maxlength="280"></textarea>
  </div>
  <div class="new-post-controls">
    <label class="checkbox-label">
      <input type="checkbox" [(ngModel)]="isAd" name="advertisement"> Job Advertisement
    </label>
    <label class="checkbox-label">
      <input type="checkbox" [(ngModel)]="isPublic" name="public"> Make this post public
    </label>
  </div>
  <div class="center-button">
    <button [disabled]="!postContent" class="btn btn-info btn-lg new-post-button" type="button" (click)="sharePost()">
      Share
    </button>
  </div>
</div>
