<div class="new-post-box">
  <label class="new-post-label">New Post</label>
  <div class="input-group text-box">
    <textarea class="form-control text-post"></textarea>
  </div>
  <div class="new-post-controls">
    <label class="checkbox-label">
      <input type="checkbox" value="isAd" name="advertisement"> Job Advertisement
    </label>
    <label class="checkbox-label">
      <input type="checkbox" value="isPublic" name="public"> Make this post public
    </label>
  </div>
  <div class="center-button">
    <button class="btn btn-info btn-lg new-post-button" type="button">
      <!-- <fa-icon [icon]="faCommentAlt"></fa-icon> -->
      Share
    </button>
  </div>
</div>
