<app-navbar></app-navbar>
<div class="home-content">
  <app-newpost></app-newpost>

  <div class="btn-group">
    <button type="button" class="btn btn-primary">{{ pageType }}</button>
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" role="menu">
      <li><button class="btn" id="selection1" (click)="changeHomeType(1)">Most Recent</button></li>
      <li><button class="btn" id="selection2" (click)="changeHomeType(2)">Recommended for you</button></li>
    </ul>
  </div>

  <div *ngIf="renderMostRecent">
    <app-friendsposts></app-friendsposts>
  </div>
  <div *ngIf="renderRecommended">
    <app-recommendedposts></app-recommendedposts>
  </div>
</div>

<app-footer></app-footer>