<app-navbar></app-navbar>
<div class="home-content">
  <app-newpost></app-newpost>
  <div *ngFor="let x of posts">
    <div *ngIf="renderPosts">
      <app-post postId="{{x.id}}" userIdPost="{{x.userId}}" isAd="{{x.isAdvertisment}}" isPublic="{{x.isPublic}}" date="{{x.timestamp| date:'d MMMM y, h:mm a'}}"
        content="{{x.content}}"></app-post>
    </div>
  </div>
  <div *ngIf="loadMoreButton" class="load-button-container">
    <button class="btn btn-secondary load-button" type="button" (click)="getPosts()">Load More Posts</button>
  </div>
</div>
<app-footer></app-footer>
