.navbar {
  width: 100%;
  background-color: #263238;
}

.navbar-collapse.collapse {
  text-align: center;
}

.container-fluid {
  width: 1230px;
  margin: 0 auto;
}

.no-background-button {
  display: inline-block;
  outline: none !important;
  box-shadow: none;
  border: none;
  background: none;
  margin-right: 10px;
}

.btn.no-background-button:hover,
.btn.no-background-button:active {
  background-color: #006394;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.logo {
  width: 100px;
  height: 40px;
  display: inline-block;
}

.logo-link {
  outline: none !important;
  box-shadow: none;
}

.nav.nav-center {
  display: inline-block;
  left: 0;
  right: 0;
  text-align: center;
}

.spacer {
  margin-left: 90px;
}

.divider {
  margin-right: 10px;
  border-right: 2px solid #ffffff;
}

.btn-group.user-buttons {
  margin: 0;
  float: none;
  text-align: center;
}

.dropdown-toggle:after {
  display: none;
  border: none;
  background: none;
}

.btn.btn-secondary.icon-button {
  border: none;
  background: none;
}

.btn.btn-secondary.icon-button.focus,
.btn.btn-secondary.icon-button:focus,
.btn.btn-secondary.icon-button:hover {
  border: none;
  background: none;
  color: #006394;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dropdown {
  display: inline-block;
}

.dropdown-menu {
  background-color: #ffffff;
  /* color: #ffffff; */
}

.dropdown-menu:after {
  content: '';
  display: inline-block;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #ffffff;
  position: absolute;
  top: -5px;
  right: 10px;
}

.dropdown-item {
  background-color: #ffffff;
  color: #000000;
}

.dropdown-item:hover,
.dropdown-item:active,
.dropdown-item:focus {
  background-color: #006394;
  color: #ffffff;
}

@media screen and (max-width: 1000px) {
  .spacer {
    margin-left: -90px;
  }
  .dropdown-menu:after {
    content: '';
    display: inline-block;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid transparent;
    position: absolute;
    top: -5px;
    right: 10px;
  }
}
