.navbar {
  width: 100%;
  background-color: #263238;
}

.navbar.navbar-collapse {
  text-align: center;
}

.container-fluid {
  width: 1230px;
  margin: 0 auto;
}

.no-background-button {
  display: inline-block;
  border: none;
  background: none;
  margin-right: 10px;
}

.btn.no-background-button:hover,
.btn.no-background-button:active,
.btn.no-background-button:focus {
  background-color: #006394;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.logo {
  width: 100px;
  height: 40px;
  left: 0;
  top: 0;
  display: inline-block;
}

.search-button {
  background-color: #006394;
  border: none;
}

.btn.search-button:hover,
.btn.search-button:active {
  background-color: #00334d;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none;
}

.divider {
  margin-right: 10px;
  border-right: 2px solid #ffffff;
}

/* .search {
  margin-left: 130px;
  width: 300px;
} */

.btn-group.mr-2.user-buttons {
  margin: 0;
  float: none;
  text-align: center;
}

.dropdown-toggle:after {
  display: none;
  border: none;
  background: none;
}

.btn.btn-secondary.notifications {
  border: none;
  background: none;
}

.btn.btn-secondary.notifications.focus,
.btn.btn-secondary.notifications:focus,
.btn.btn-secondary.notifications:hover {
  border: none;
  background: none;
  color: #006394;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.btn-secondary.messages {
  border: none;
  background: none;
}

.btn.btn-secondary.messages.focus,
.btn.btn-secondary.messages:focus,
.btn.btn-secondary.messages:hover {
  border: none;
  background: none;
  color: #006394;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.btn.btn-secondary.dropdown-toggle {
  border: none;
  background: none;
}

.btn.btn-secondary.dropdown-toggle.focus,
.btn.btn-secondary.dropdown-toggle:focus,
.btn.btn-secondary.dropdown-toggle:hover {
  border: none;
  background: none;
  color: #006394;
  border-color: inherit;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.dropdown {
  display: inline-block;
}

.dropdown-menu>a:hover {
  background-color: #006394;
  color: #ffffff;
}
