<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <div class="container-fluid">
    <div class="logo">
      <a class="logo-link" [routerLink]="['/home']">
        <img id="logo-img" class="navbar-brand logo" src="../../../assets/images/linkDIn_light.png" />
      </a>
    </div>
    <div class="spacer col-6 col-md-4 justify-content-md-center">
      <app-search></app-search>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
      aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <a class="btn btn-secondary no-background-button navbar-right" role="button" [routerLink]="['/home']">
          Home Page
        </a>
        <a class="btn btn-secondary no-background-button navbar-right" role="button" [routerLink]="['/users',userID,'network']">
          Network
        </a>
        <a class="btn btn-secondary no-background-button navbar-right" role="button" [routerLink]="['/home']">
          Job Adverts
        </a>
        <li class="divider"></li>
        <ul class="navbar-nav text-center">
          <div class="btn-group-justified" role="group" aria-label="First group">
            <app-notifications></app-notifications>
            <button type="button" class="btn btn-secondary icon-button">
              <fa-icon [icon]="faEnvelope"></fa-icon>
            </button>
          </div>
        </ul>
        <ul class="navbar-nav text-center">
          <div class="btn-group-justified" role="group" aria-label="Second group">
            <a class="btn btn-secondary no-background-button" role="button" [routerLink]="['/users', userID]" (click)="scrollToTop()">
              {{ firstName }} {{ lastName }}
            </a>
            <div class="nav-item dropdown">
              <button type="button" class="btn btn-secondary icon-button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <fa-icon [icon]="faCaretDown"></fa-icon>
              </button>
              <div class="dropdown-menu dropdown-menu-right">
                <!-- TODO make settings a instead of button -->
                <a role="button" type="button" class="dropdown-item" [routerLink]="['/settings']">Settings</a>
                <button class="dropdown-item" (click)="logoutUser()">Logout</button>
              </div>
            </div>
          </div>
        </ul>
      </ul>
    </div>
  </div>
</nav>
