.profile-content {
  position: relative;
  padding-top: 70px;
  max-width: 1200px;
  margin: auto;
  height: 1200px;
  background-color: rgb(248, 247, 247);
}

.profile-info {
  margin: auto;
  display: block;
}

.profile-image {
  width: 200px;
  height: 200px;
}

.user-name {
  margin-top: 20px;
  font-size: 20pt;
}
