<app-navbar></app-navbar>
<div class="profile-content">
  <div class="profile-info row text-center">
    <img class="rounded-circle profile-image" src="{{profileImage}}">
    <div class="user-name">
      {{ profileFirstName }} {{ profileSurname }}
    </div>
  </div>

  <div *ngFor="let x of posts">
    <app-post userName="{{profileFirstName}}" userSurname="{{profileSurname}}" content={{x.content}}></app-post>
  </div>
  <div *ngIf="loadMoreButton" class="load-button-container">
    <button class="btn btn-secondary load-button" type="button" (click)="loadMorePosts()">Load More Posts</button>
  </div>
</div>

<app-footer></app-footer>
