<app-navbar></app-navbar>
<div class="profile-content">
  <div class="d-flex flex-row flex-wrap justify-content-center">
    <img class="rounded-circle profile-image" src="{{profileImage}}">
    <div class="user-info">
      <div class="user-name">
        {{ profileFirstName }} {{ profileSurname }}
      </div>
      <div class="user-personal-info row-fluid">
        <div>Phone Number: {{ profilePhoneNumber }}</div>
        <div>City: {{ profileCity }}</div>
        <div>Profession: {{ profileProfession }}</div>
        <div>Education: {{ profileEducation }}</div>
      </div>
    </div>
  </div>
  <div *ngIf="networkButton" class="connect-buttons-container">
    <a class="btn btn-secondary request-connect-button" [routerLink]="['network']">Network</a>
  </div>

  <div *ngIf="requestConnectButton" class="connect-buttons-container">
    <button class="btn btn-secondary request-connect-button" type="button" (click)="sendConnectRequest()">
      <fa-icon [icon]="faUserPlus"></fa-icon>
      Connect
    </button>
  </div>
  <div *ngIf="connectPendingButton" class="connect-buttons-container">
    <button class="btn btn-outline-primary disabled-connect-button" type="button" disabled>
      <fa-icon [icon]="faUserClock"></fa-icon>
      Connect Request Pending
    </button>
  </div>
  <div *ngIf="connectedButton" class="connect-buttons-container">
    <button class="btn btn-outline-primary disabled-connect-button" type="button" disabled>
      <fa-icon [icon]="faUserCheck"></fa-icon>
      Connected
    </button>
  </div>
  <div *ngFor="let x of posts">
    <app-post postId="{{x.id}}" userIdPost="{{profileUserID}}" isAd="{{x.isAdvertisment}}" isPublic="{{x.isPublic}}" date="{{x.timestamp| date:'d MMMM y, h:mm a'}}"
      content="{{x.content}}"></app-post>
  </div>
  <div *ngIf="loadMoreButton" class="load-button-container">
    <button class="btn btn-secondary load-button" type="button" (click)="getPosts()">Load More Posts</button>
  </div>
</div>

<app-footer></app-footer>
