<app-navbar></app-navbar>
<div class="profile-content">
  <div class="profile-info row text-center">
    <img class="rounded-circle profile-image" src="{{profileImage}}">
    <div class="user-name">
      {{ profileFirstName }} {{ profileSurname }}
    </div>
  </div>

  <div *ngFor="let x of test">
    <app-post userName="helloName" userSurname="testSurname"></app-post>
    <!-- {{x.name}} -->
  </div>
  <div class="load-button-container">
    <button class="btn btn-secondary load-button" type="button" (click)="loadMorePosts()">Load More Posts</button>
  </div>
</div>

<!-- <div class="search-results" infiniteScroll [infiniteScrollDistance]="2" [infiniteScrollThrottle]="50" (scrolled)="onScroll()">
  <li *ngFor="let x of test">{{x}}</li>
</div> -->


<app-footer></app-footer>
