<div class="post-box">
  <div class="post-details">
    <a class="btn user-identifiers" [routerLink]="['/users', userIdPost]">
      <img class="rounded-circle profile-image" src="{{userImage}}">
      <span class="user-name"> {{ userName }} {{ userSurname }} </span>
    </a>
    <a class="btn timestamp" [routerLink]="['/posts', postId]"> {{ date }} </a>
    <div class="post-attributes">
      <span *ngIf="isAd == 1">
        <fa-icon class="icon-post" [icon]="faBriefcase"></fa-icon>
      </span>
      <span *ngIf="isPublic == 1">
        <fa-icon class="icon-post" [icon]="faGlobeAfrica"></fa-icon>
      </span>
      <span *ngIf="isPublic == 0">
        <fa-icon class="icon-post" [icon]="faUsers"></fa-icon>
      </span>
    </div>
  </div>
  <div class="post-content"> {{ content }} </div>
  <hr>
  <div class="post-controls">
    <button class="btn btn-info btn-lg interact-button" type="button">
      <fa-icon [icon]="faStar"></fa-icon>
      Interested
    </button>
    <button class="btn btn-info btn-lg interact-button" type="button">
      <fa-icon [icon]="faCommentAlt"></fa-icon>
      Comment
    </button>
  </div>
  <hr>
  <!-- TODO add here comments components -->
  <div class="d-flex justify-content-center">
    <div class="input-group post-comment ">
      <input class="form-control" type="text" placeholder="Comment" aria-label="post-comment">
      <span class="input-group-btn">
        <button class="btn btn-info btn-lg post-comment-button" type="button">
          <fa-icon [icon]="faCommentAlt"></fa-icon>
        </button>
      </span>
    </div>
  </div>
</div>
