<div class="post-box">
  <div class="post-details">
    <a class="btn user-identifiers" [routerLink]="['/users', userIdPost]">
      <img class="rounded-circle profile-image" src="{{userImage}}">
      <span class="user-name"> {{ userName }} {{ userSurname }} </span>
    </a>
    <a class="btn timestamp" [routerLink]="['/posts', postId]"> {{ date }} </a>
    <div class="post-attributes">
      <span *ngIf="isAd == 1">
        <fa-icon class="icon-post" [icon]="['fas', 'briefcase']"></fa-icon>
      </span>
      <span *ngIf="isPublic == 1">
        <fa-icon class="icon-post" [icon]="['fas', 'globe-africa']"></fa-icon>
      </span>
      <span *ngIf="isPublic == 0">
        <fa-icon class="icon-post" [icon]="['fas', 'users']"></fa-icon>
      </span>
    </div>
  </div>
  <div class="post-content"> {{ content }} </div>
  <hr>
  <div class="post-controls">
    <button class="btn btn-info btn-lg interact-button" type="button" (click)="interested()">
      <fa-icon [icon]="['far', 'star']"></fa-icon>
    </button>
    <button class="btn btn-info btn-lg interact-button" type="button">
      <fa-icon [icon]="['far', 'comment-alt']"></fa-icon>
    </button>
  </div>

  <div *ngIf="numberOfInterests > 0" class="d-flex justify-content-center interests-number">
    <div class="dropdown">
      <button type="button" class="btn btn-primary" data-toggle="dropdown" (click)="getInterestedUsers()">
        {{ numberOfInterests }} interest
      </button>
      <div class="dropdown-menu dropdown-menu-right">
        <div *ngFor="let x of interestedUsers; let i = index">
          <a class="dropdown-item" [routerLink]="['/users', x.id]">
            <img class="rounded-circle profile-image" src="{{x.image}}"> {{ x.name }} {{ x.surname }}
          </a>
        </div>
      </div>
    </div>

  </div>
  <!-- <div *ngIf="numberOfInterests > 1" class="d-flex justify-content-center interests-number">
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" (click)="getInterestedUsers()">
      {{ numberOfInterests }} interests
    </button>
  </div> -->

  <hr>
  <!-- TODO add here comments components -->
  <div class="d-flex justify-content-center">
    <div class="input-group post-comment ">
      <input class="form-control" type="text" placeholder="Comment" aria-label="post-comment">
      <span class="input-group-btn">
        <button class="btn btn-info btn-lg post-comment-button" type="button">
          <fa-icon [icon]="['fas', 'briefcase']"></fa-icon>
        </button>
      </span>
    </div>
  </div>
</div>
