<div class="post-box">
  <div class="post-details">
    <span class="user-name"> {{ userName }} {{ userSurname }} </span>
    <span class="timestamp"> {{ date }} </span>
  </div>
  <div class="post-content"> {{ content }} </div>
  <hr>
  <div class="post-controls">
    <button class="btn btn-info btn-lg interested-button" type="button">
      <fa-icon [icon]="faStar"></fa-icon>
      Interested
    </button>
    <button class="btn btn-info btn-lg comment-button" type="button">
      <fa-icon [icon]="faCommentAlt"></fa-icon>
      Comment
    </button>
  </div>
  <hr>
  <!-- TODO add here comments components -->
  <div class="input-group post-comment">
    <input class="form-control" type="text" placeholder="Comment" aria-label="post-comment">
    <span class="input-group-btn">
      <button class="btn btn-info btn-lg post-comment-button" type="button">
        <fa-icon [icon]="faCommentAlt"></fa-icon>
      </button>
    </span>
  </div>
</div>
