<div class="search-bar">
  <div class="input-group">
    <input class="form-control search" type="text" placeholder="Search" aria-label="Search Users" [(ngModel)]="userQuery">
    <span class="input-group-btn">
      <div class="dropdown">
        <button class="btn btn-info btn-lg search-button" type="button" (click)="search()" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
        <!-- Add here 5 top results with a button to show more -->
        <div *ngIf="showResults" class="dropdown-menu dropdown-menu-center" id="menu">
          <div *ngIf="totalResults > 0">
            <div *ngFor="let x of results">
              <button class="dropdown-item"> {{ x.name }} {{ x.surname }} </button>
            </div>
          </div>
          <div *ngIf="totalResults == 0">
            <div class="dropdown-item">No Results!</div>
          </div>
        </div>
      </div>
    </span>
  </div>
</div>
