.search-bar {
    width: 400px;
    display: flex;
    flex-grow: 1;
    justify-content: center;
    z-index: -1;
}

.input-group.search-box {
    align-content: center;
}

.form-control.search {
    height: 50px;
    outline: none !important;
    box-shadow: none;
}

.search-bar .input-group {
    width: 100%;
}

.search-button {
    height: 50px;
    background-color: #006394;
    outline: none !important;
    box-shadow: none;
    border: none;
}

.btn.search-button:hover,
.btn.search-button:active {
    background-color: #00334d;
    border-color: inherit;
    -webkit-box-shadow: none;
    outline: none !important;
    box-shadow: none;
    border: none;
}

.btn.search-button:disabled {
    background-color: #006394;
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
}

.dropdown-menu-center {
    left: -350px;
    width: 400px;
    height: auto;
    max-height: 300px;
    overflow-x: hidden;
}

.dropdown-menu {
    position: absolute;
}

.dropdown-item {
    font-size: 13pt;
    margin-top: 2px;
    margin-bottom: 2px;
}

.dropdown-item:hover {
    background-color: #006394;
    color: #ffffff;
}

.profile-image {
    height: 50px;
    width: 50px;
}

.border {
    margin-top: 15px;
    border-top: 1px solid #000000;
}

.show-more-button-container {
    text-align: center;
}

.btn.show-more-button {
    margin-top: 5px;
    background-color: transparent;
    color: #006394;
    border: none;
}

.btn.show-more-button:hover,
.btn.show-more-button:focus,
.btn.show-more-button:active {
    background-color: transparent;
    color: #00334d;
    border: none;
    outline: none !important;
    box-shadow: none;
}

@media screen and (max-width: 1215px) {
    .search-bar {
        width: 300px;
    }
    .dropdown-menu-center {
        left: -250px;
        width: 300px;
    }
}

@media screen and (max-width: 1080px) {
    .search-bar {
        width: 200px;
    }
    .dropdown-menu-center {
        left: -150px;
        width: 200px;
    }
}

@media screen and (max-width: 991px) {
    .search-bar {
        margin-left: -60px;
        width: 300px;
    }
    .dropdown-menu-center {
        left: -250px;
        width: 300px;
    }
}

@media screen and (max-width: 576px) {
    .search-bar {
        margin-left: -40px;
        width: 150px;
    }
    .dropdown-menu-center {
        width: 300px;
        left: -180px
    }
}